# ============================== OPENROUTER CREDENTIALS (LOCAL) ===============================
OPENROUTER_API_KEY=""
OPENROUTER_URL="https://openrouter.ai/api/v1"

# ============================== GROQ CREDENTIALS (LOCAL) ===============================
GROQ_API_KEY=""
GROQ_URL="https://api.groq.com/openai/v1"

# ============================== LANGFUSE CREDENTIALS (LOCAL) ===============================
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST="http://localhost:3100"

# ============================== N8N WEBHOOK URL (LOCAL) ==============================
N8N_GET_EMAILS_WEBHOOK_URL=""
SEND_EXAMPLE_EMAILS_N8N_URL=""
SEND_EMAILS=""
MARK_CALENDAR=""
DELETE_CALENDAR=""

# ============================== POSTGRESQL CREDENTIALS (LOCAL) =============================
POSTGRESQL_URL=""

   