# ============================== OPENROUTER CREDENTIALS (LOCAL) ===============================
OPENROUTER_API_KEY=""
OPENROUTER_URL=""

# ============================== GROQ CREDENTIALS (LOCAL) ===============================
GROQ_API_KEY=""
GROQ_URL=""

# ============================== LANGFUSE CREDENTIALS (LOCAL) ===============================
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST=""

# ============================== N8N WEBHOOK URL (LOCAL) ==============================
N8N_GET_EMAILS_WEBHOOK_URL=""
SEND_EXAMPLE_EMAILS_N8N_URL=""
SEND_EMAILS=""

# ============================== POSTGRESQL CREDENTIALS (LOCAL) =============================
POSTGRESQL_URL=""